extends ../layout
block content
  .container
    .row
      .col-md-5
        .dl-horizontal
          dt Co#
          dd= task.co
          dt Company
          dd= task.company
          dt Segment
          dd= task.segment
          dt Specialist
          dd= task.specialist
          dt Auditor
          dd= task.auditor
          dt Administrator
          dd= task.administrator
          dt Notes
          dd= task.notes
